@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos Globales */
body {
    @apply bg-bg text-text-main font-sans antialiased;
    /* Esto asegura scroll suave en toda la web */
    scroll-behavior: smooth;
    overflow-x: hidden; /* Evita scroll horizontal indeseado */
}

/* Scrollbar personalizada (Toque Tech) */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    @apply bg-bg-secondary;
}
::-webkit-scrollbar-thumb {
    @apply bg-gray-700 rounded-full hover:bg-primary transition-colors;
}

/* Efecto de degradado de fondo para darle profundidad */
.tech-bg-gradient {
    background: radial-gradient(circle at 50% 0%, rgba(59, 130, 246, 0.15) 0%, rgba(11, 12, 21, 0) 50%);
}